:root {
    --default: #333;
    --red: #e84855;
    --yellow: #ffd23f;
    --blue: #3bceac;
    --jade: #0ead69;
}

.App {
    color: black;
    text-align: center;
}

.APIInput {
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.SettingsDropdown {
    background-color: white;
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 5%;
    top: 5%;
}

.container {
    width: 25rem;
    height: 30rem;
    background-color: var(--default);
}

.AppHeader {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.TestList {
    color: white;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;

}

.RunTestsButton {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
